.usericon {
  width: 30px;
  height: 30px;
  margin-right: 20px;

  display: block;
}

.deleteicon {
  width: 16px;
  height: 16px;
}

li {
  display: flex;
  align-items: center;
}

li p {
  display: flex;
  align-items: center;
}

.contactswrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactcontent {
  margin-right: 16px;
}
